debug/
release/
*.bak
unittest/
.vscode/

# local temporary files
/pacwebadmin.conf.local
/data.local
/data.local.bak

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# node
/web-admin/node_modules
npm-debug.log*
